<!-- <div class="card">
<img src="{{user.avatar}}" alt="User">
<h1>{{user.first_name + '' + user.last_name }}</h1>
<p></p>
</div>  -->



  
<!-- <mat-grid-list cols="3" rowHeight="3:1"> -->
        <!-- <mat-card class="example-card">
            <img mat-card-image src="{{user.avatar}}" alt="">
            <mat-card-title>{{user.first_name + '' + user.last_name}}</mat-card-title>
         <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
        </mat-card-content>
         <mat-card-actions>
                <a mat-flat-button href="https://www.google.com/" target="_blank">Read more</a>
                <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
         </mat-card-actions>
        </mat-card> -->
        


    <!-- <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="{{user.avatar}}" alt="">
            <mat-card-title>{{user.first_name + '' + user.last_name}}</mat-card-title>
        <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
         </mat-card-content>
        <mat-card-actions>
                <a mat-flat-button href="https://www.google.com/" target="_blank">Read more</a>
                <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
        </mat-card-actions>
     </mat-card>
    </mat-grid-tile> -->
<!--  -->


 <div class="row">

 <div class="cols= 3">
  <div class="card">
         <div class="mat-card-image">
           <img src="{{user.avatar}}">
           <span class="mat-card-title">{{user.first_name + '' + user.last_name}}</span>
         </div>
  <div class="card-content">
         <p>{{user.geo}}</p>
  </div>
  <div class="card-action">
       <a href="#">This is a link</a>
  </div>
  </div>
 </div>
</div>
  
 